@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import "tailwindcss";

@theme {
  --font-londrina: "Londrina Outline", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
